<table class="index">
  <thead>
  	<tr>
  		<th><%= t("product") %> Recommendations</th>
  		<th></th>
  	</tr>
  </thead>
  <tbody>
    <% product.recommendations.each do |recommendation| %>
      <tr id="<%= dom_id(recommendation, :sel)%>">
        <td><%= recommendation.recommended_product.name %></td>
  	    <td class="actions">
          <%= image_tag "spinner.gif", :style => "display:none", :id => "#{dom_id(recommendation, :rem_spinner)}" %>		  
          <%= link_to icon('delete') + ' ' + t('remove'), remove_admin_product_recommendations_url(@product), "data-recommendation-id" => recommendation.id, :class => "remove_recommendation"%>
  	    </td>        
      </tr>
    <% end %>
    <% if product.recommendations.empty? %>
     <tr><td colspan="3"><%= t('none') %>.</td></tr>
    <% end %>
  </tbody>
</table>
