<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => t("recommendations") } %>
<div id="selected-recommendations">
  <%= render :partial => "recommendations_table", :locals => {:product => @product} %>
</div>


<fieldset>
  <legend> <%= t('add_recommendation')%> </legend>
  <%= form_tag('#', :id => "RecommendationSearch") do %>
    <label><%= t('search') %>:</label>
    <input id="searchtext" size="25" data-live-search-url="<%= search_admin_product_recommendations_url(@product) %>">
  <% end %>

  <div id="searching" style="display:none">
    <%= t('searching') %> &nbsp; <%= image_tag "spinner.gif" %>  
  </div>
</fieldset>
